In [2]:
import pandas as pd
import os
encoding = 'latin1'

In [9]:
upath = os.path.expanduser('/Users/srinivas/RecommendationSystem/Data/users.dat')
rpath = os.path.expanduser('/Users/srinivas/RecommendationSystem/Data/ratings.dat')
mpath = os.path.expanduser('/Users/srinivas/RecommendationSystem/Data/movies.dat')

In [11]:
unames = ['user_id', 'gender','age','occupation','zip']
rnames = ['user_id', 'movie_id', 'rating','timestamp']
mnames = ['movie_id', 'title','genres']

users = pd.read_csv(upath,sep='::', header=None, names=unames, encoding = encoding, engine='python')
ratings= pd.read_csv(rpath, sep='::', header= None, names = rnames ,  encoding = encoding, engine = 'python')
movies = pd.read_csv(mpath, sep ='::', header= None, names = mnames, encoding = encoding, engine = 'python')

In [12]:
data = pd.merge(pd.merge(ratings, users), movies)

In [13]:
mean_rating = data.pivot_table('rating', index= 'title', columns = 'gender', aggfunc = 'mean')
rating_by_title = data.groupby('title').size()

In [15]:
active_titles = rating_by_title.index[rating_by_title > 250]

In [19]:
mean_rating = mean_rating[mean_rating.index.isin(active_titles)]

In [21]:
top_female_ratings = mean_rating.sort_values(by='F',ascending=False)
top_female_ratings[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [23]:
mean_rating.loc[:, 'diff'] = mean_rating['M'] - mean_rating['F']

In [24]:
mean_rating.sort_values(by='diff')[:10]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573

In [25]:
mean_rating.sort_values(by='diff')[::-1][:10]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704

In [28]:
rating_std_by_title = data.groupby('title')['rating'].std()

In [29]:
rating_std_by_title.sort_values(ascending=False)[:10]

title
Foreign Student (1994)                                      2.828427
Criminal Lovers (Les Amants Criminels) (1999)               2.309401
Neon Bible, The (1995)                                      2.121320
Sunset Park (1996)                                          2.121320
Tokyo Fist (1995)                                           2.121320
Eaten Alive (1976)                                          2.121320
Talk of Angels (1998)                                       2.121320
Better Living (1998)                                        2.121320
Paralyzing Fear: The Story of Polio in America, A (1998)    2.121320
Living Dead Girl, The (La Morte Vivante) (1982)             2.121320
Name: rating, dtype: float64